<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSFW Image Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>NSFW Image Detection</h1>
        <form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Upload an image:</label>
                <input type="file" name="file1" required>
            </div>
            <button type="submit">Submit</button>
        </form>

        <!-- Display the prediction results -->
        {% if predictions %}
        <div class="results">
            <h2>Predictions:</h2>
            <ul>
                {% for prediction in predictions %}
                <li>{{ prediction.label }}: {{ prediction.score }}%</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class ="footer">
            <h5>Developed by Aviral Bansal</h5>
        </div>
    
    </div>
>

</body>
</html>
